<wide-header-page title="{{'Delete Wallet' | translate}}">
  <div page-content>
    <h3 class="assertive" translate>Warning!</h3>
    <p translate>
      Permanently delete this wallet.
    </p>
    <p translate>
      THIS ACTION CANNOT BE REVERSED
    </p>
    <ion-button class="button-standard" color="danger" (click)="showDeletePopup()">
      {{'Delete' | translate}}
    </ion-button>
  </div>
</wide-header-page>