<ion-item lines="none" [ngClass]="{'wallet-disabled': !wallet?.isComplete() || wallet?.needsBackup}">
  <coin-icon [coin]="wallet.coin" [network]="wallet.network" slot="start"></coin-icon>
  <ion-label>
    <div class="main-label">{{ wallet?.name }}</div>
    <div *ngIf="wallet?.credentials?.n > 1 || (!wallet?.credentials?.n && wallet?.n > 1) || !wallet?.isComplete() || (wallet?.isComplete() && wallet?.needsBackup)" class="secondary-label">
      <span *ngIf="wallet?.credentials?.n > 1">({{ wallet?.credentials?.m }}/{{ wallet?.credentials?.n }})</span>
      <span *ngIf="!wallet?.credentials?.n && wallet?.n > 1">({{ wallet?.m }}/{{ wallet?.n }})</span>
      <span *ngIf="!wallet?.isComplete()"> - <span class="wallet-warning">{{ 'Incomplete' | translate }}</span></span>
      <span *ngIf="wallet?.isComplete() && wallet?.needsBackup" class="wallet-warning backup-msg"> {{'Needs Backup' | translate}}</span>
    </div>
  </ion-label>
  <ion-note slot="end">
    <div>
      <div *ngIf="!wallet?.balanceHidden">
        <div class="main-note">{{ getBalance(wallet, wallet?.coin.toUpperCase()) }}</div>
        <div class="secondary-note" *ngIf="wallet?.cachedStatus">
          {{ getAlternativeBalance(wallet, wallet?.coin.toUpperCase()) }}
          {{ wallet?.cachedStatus.alternativeIsoCode }}
        </div>
      </div>
    </div>
    <div *ngIf="wallet?.balanceHidden">
      [<span translate>Hidden</span>]
    </div>
  </ion-note>
</ion-item>
