.md [slot="start"] {
  margin: 0px 8px 0px 0px;
}
ion-icon {
  margin: 9px 15px 9px 0;
  justify-content: center;
  padding: 7px;
  width: 35px;
  height: 35px;
  &.rectangle {
    border-radius: 12px;
    justify-content: center;
  }
  &.background {
    &_btc {
      background-color: #f7931a;
    }
    &_bch {
      background-color: #2fcf6e;
    }
    &_xec {
      background-color: #016cbf;
    }
    &_eth {
      background-color: #6b71d6;
    }
    &_xrp {
      background-color: #000000;
    }
    &_usdc {
      background-color: #2775ca;
    }
    &_pax {
      background-color: #e6f3f9;
    }
    &_gusd {
      background-color: #00ddfa;
    }
    &_busd {
      background-color: #f3ba2d;
    }
    &_dai {
      background-color: #ff9e2f;
    }
    &_wbtc {
      background-color: #000000;
    }
    &_doge {
      background-color: #d8c172;
    }
    &_ltc {
      background-color: #a6a9aa;
    }
    &_xpi {
      background-color: #4e1b71;
    }
    &_default {
      background-color: #e6f8e9;
    }
  }
}
.ion-logo-usd:before {
  padding: 8px 11.5px;
}

::ng-deep page-confirm coin-icon {
  ion-icon {
    margin: 0 !important;
    width: 20px !important;
    height: 20px !important;
  }
}
