<div class="message-background message-background--donate">
  <div class="message-content">
    <ion-row class="title-container">
      <div class="message-icon"><img src="assets/img/lotus-donation.png" /></div>
      <div class="message-title" translate>Lotus Donation Program</div>
    </ion-row>
    <div class="message-body">Lotus is a new and growing network. It focuses on building a working currency and bringing money to the unbanked. Support us with the Donation Program. Visit <a (click)="openLink('https://givelotus.org')">givelotus.org</a> for more information.</div>
    <div>
      <div class="line-divider"></div>
      <span class="message-button" (click)="donationLotus()">Donate</span>
    </div>
  </div>
</div>