ion-label{
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  box-orient: vertical;
  -webkit-box-orient: vertical;
}

.subtitle {
  color: #aaaeb6;
  font-size: 13px;
  margin-top: 5px;
}

.icon-card {
  width: 25px;
  height: 25px;
}

.icon-bitpay-id {
  font-family: 'Heebo-Medium' !important;
  background: #1a2c57;
  color: #9faff5;
  font-size: 26px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bp-list ion-item:not(.align-with-button) {
  padding-left: 0px;
}

.bp-list {
  .main-label {
    font-weight: 400;
    .bitpay-name {
      font-weight: bold;
    }
    .bitpay-email {
      font-weight: 200;
    }
  }
  ion-item-divider {
    margin-top: 0px;
    padding: 12.5px 0px 12.5px 20px;
    background: #f8f8f9;
  }
  ion-icon {
    padding: 14.5px;
    &.ionic-icon {
      font-size: 23px;
      color: #cdd1d7;
      opacity: 1 !important;
    }
    &.icon-settings {
      opacity: 0.5;
    }
    &.icon-login {
      font-size: 60px;
      padding-left: 15px;
      img {
        width: 60px;
        height: 60px;
      }
    }
    &[src] {
      width: 20px;
      height: 20px;
    }
  }
  ion-note {
    background: #f4f5fb;
    --color: #565d6d;
    font-weight: 300;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    margin: auto;
  }
}

.count-note {
  min-width: 85px;
  text-align: center;
}

.create-button {
  background: white;
  color: var(--ion-color-primary);
  margin-left: -12px;
  text-align: center;
}

.ion-eye:before,
.ion-color-palette:before,
.ion-list-box:before {
  width: 20px;
  height: 20px;
}
