page-coinbase-tx-details,
page-tx-details {
  .note-container {
    max-width: 200px;
  }
  --item-border-color: #efefef;
  --item-label-color: #6c6c6e;
  .header-container {
    padding: 20px 0px 20px 0px;
    .sending-label {
      display: flex;
      align-items: center;
      img.sending-img {
        margin-right: 2rem;
        width: 40px;
        height: 40px;
      }
      span {
        font-size: 1.8rem;
      }
    }
  }
  @mixin row-flex {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  .container-to,
  .container-from,
  .container-tx-info {
    .wallet,
    .tx-info {
      @include row-flex;
      .comment {
        color: var(--color-light-grey);
      }
      .id {
        font-size: 12.5px;
        color: var(--color-light-grey);
      }
    }
  }
  .unconfirmed-message {
    padding: 10px 10px 10px 16px;
    font-size: 1.6rem;
  }
  .timeline-item {
    background-color: var(--color-blank);
    border: 0;
    padding: 17px 17px;
    > * {
      padding-right: 0;
    }
  }
  .timeline-content {
    display: flex;
    align-items: center;
    &-icon {
      display: flex;
      align-items: center;
      min-width: 40px;
      padding-right: 1rem;
      padding-left: 1rem;
      margin-right: 0.5rem;
      position: relative;
      img,
      .rejected {
        z-index: 12;
      }
      .line::before {
        content: '';
        background: #e8e8e8;
        height: 52px;
        width: 1px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%);
        top: 0;
      }
      > div {
        border: 3px solid var(--color-primary);
        border-radius: --icon-border-radius;
        display: flex;
        height: 26px;
        width: 26px;
        font-size: 12.5px;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        vertical-align: middle;
        color: var(--color-primary);
        z-index: 10;
        &.rejected {
          background: #e15061;
          border-color: #e15061;
          color: #ffffff;
          font-family: 'Roboto-Bold';
          font-size: 19px;
        }
      }
    }
    &-label {
      flex-grow: 1;
      > .action {
        font-size: 16px;
        @media (max-width: 330px) {
          font-size: 14px;
        }
      }
      > .name {
        color: #aaa;
        font-size: 14px;
      }
    }
  }
  .amount-label {
    padding-top: 1rem;
    .amount {
      display: flex;
      font-size: 2.2rem;
      justify-content: space-between;
      img.sending-img {
        width: auto;
        height: 40px;
      }
      .amount-coin {
        font-size: 1.5rem;
        margin-top: 0.35rem;
        margin-left: 0.8rem;
      }
      div {
        display: flex;
      }
    }
    .alternative {
      margin-top: 0.5rem;
      color: var(--color-light-grey);
    }
  }
  // button.item {
  //   width: 100%;
  // } 
  .item-fee {

    .fee-loading {
      font-weight: 300;
      color: var(--color-light-grey);
    }
    &.warn {
      color: var(--color-error);
      .fee-details {
        color: var(--color-error);
      }
    }
    &.btn-opacity {
      background-color: #fbfbfb;
    }
  }
  .padded-input {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .paypro {
    width: 100%;
    cursor: pointer;
  }
  .no-wallet-message {
    ion-item {
      text-align: center;
      text-transform: uppercase;
    }
  }

  .payment-proposal-to {
    padding: 10px;
    height: 39px;
    max-width: 200px;
    border-radius: 19.5px;
    background-color: #f6f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    &.align-right {
      margin-left: auto;
    }
    .multiple-length {
      display: flex;
    }
    .coin-img {
      width: 18px;
      height: 18px;
      margin-right: 6px;
    }
    .text-address {
      display: flex;
      width: 25px;
      justify-content: space-between;
    }
    .debit-card {
      width: 40px;
    }
  }
  .not-clickable {
    pointer-events: none;
  }
  .last-item {
    margin-left: auto !important;
  }
  .multi-amount {
    text-align: right;
    margin-top: 15px;
  }

  .bp-list {
    .sub-title {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
    }
    .item {
      &.item-ios,
      &.item-md {
        padding-left: 19px;
        .item-inner {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    }
  }
  .background-content {
    display: flex;
    padding: 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
  }

  .wallet,
  .multi-recip-title {
    span {
      height: 19px;
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      text-align: right;
    }
    ion-icon.item-img.icon {
      &.icon-md,
      &.icon-ios {
        margin: 9px 0px 9px 0;
        justify-content: center;
        padding: 7px;
        img {
          width: 20px;
        }
        &.rectangle {
          border-radius: 7px;
          justify-content: center;
        }
        .coin-img {
          width: 18px;
          height: 18px;
          margin: 0px;
        }
      }
    }
    .gravatar {
      ion-icon {
        padding: 0px !important;
        margin: 0px !important;
        img {
          width: 18px;
        }
        &.rectangle {
          border-radius: 12px !important;
        }
      }
    }
  }
  .multi-recip-title {
    display: flex;
    align-items: center;
  }
  .line-divider {
    margin: 0px 17px;
  }
  .background-button-content {
    height: 47px;
    background-color: #edf0fe;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    border-radius: 21px;
    margin: 25px auto;
  }
  .scanner-icon {
    z-index: 99;
    font-size: 28px;
    color: var(--color-primary);
    padding-top: 20px;
  }
  .item-img {
    &.info {
      padding-left: 10px;
      width: 22px;
      height: 22px;
    }
  }
  .item.item-input span {
    width: auto;
  }
  .item.item-input input {
    width: 80px;
  }
  .add-new-contact {
    width: 25px;
    height: 25px;
  }
  .add-new-contact-button {
    float: right;
    padding: 0px;
    margin-right: 0px;
    margin-left: 10px;
  }
  .address-note-custom {
    display: flex;
  }
  .send-to-custom {
    ion-label {
      margin: 0 8px 0 0;
    }
    .address-note-custom {
      margin: 0 8px 0 0;
      ion-icon {
        margin: 0;
      }
    }
  }
  .input-contact-custom {
    background: #1d1d1d;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 5px;
    input {
      width: 100% !important;
      padding-left: 15px;
    }
  }

  coin-icon {
    ion-icon {
      margin: 0;
      width: 20px;
      height: 20px;
    }
  }
}
