/* Index
1 - Definitions
1.1 - Backgrounds
1.2 - Text
1.3 - Messages
1.4 - Borders
1.5 - Slides
1.6 - Toggles
1.7 - Overriding Ionic Variables

3 - General
3.1 - Lists
3.2 - Label tip
3.3 - General cards
3.4 - Expandable header
3.5 - Toolbar

4 - Components

5 - Tabs
5.1 - Tab Home
5.2 - Tab Wallets
5.3 - Tab Cards
5.4 - Tab Settings

6 - Other Pages

7 - Buy Crypto

8 - Exchange Crypto

9 - Onboarding

10 - New Features Slides
*/


.dark {
    // 1 - Definitions
    // 1.1 - Backgrounds
    --bg-color-dark-theme: #121212;
    --bg-color-dark-theme-2: #1d1d1d;
    --bg-color-dark-theme-3: #383838;
    --bg-color-dark-theme-4: rgba(56, 56, 56, 0.8);

    --bg-color-dark-theme-toolbar: #121212;
    --bg-color-dark-theme-message: #1d1d1d;
    --gradient-dark-theme: #101010;

    // 1.2 - Text
    --text-color-dark-theme: rgba(255, 255, 255, 0.87);
    --text-color-dark-theme-2: rgba(255, 255, 255, 0.6);
    --text-color-dark-theme-3: rgba(255, 255, 255, 0.38);

    // 1.3 - Messages
    --bg-color-warning: #ffe7d9;

    // 1.4 - Borders
    --border-color-dark-theme: rgb(76, 76, 76);
    --border-color-dark-theme-2: rgba(76, 76, 76, 0.3);

    // 1.5 - Slides
    --swiper-pagination-bullet-active: #434c5a;
    --swiper-pagination-bullet: #4f4f4e;

    // 1.6 - Toggles
    --toggle-color-dark-theme: #afafaf;

    // 1.7 - Overriding Ionic Variables
    --background-color: var(--bg-color-dark-theme);

    @include toolbar-button-color(var(--text-color-dark-theme));

    // TODO: Remove text opacity from default styles
    page-bitpay-card ion-title .toolbar-title,
    .wallet-details-header ion-title .toolbar-title,
    page-copayers .copayers-header-content .text,
    page-finish .container .content .body-comment,
    page-home .total-amount-container .average-container .date,
    page-scan .page-scan-has-problems .header-container .subtitle,
    page-addressbook .zero-state-description,
    page-wallet-details .balance-alt-str,
    page-wallet-details .balance-spendable,
    page-wallet-details .tx-history .date,
    .bp-list .secondary-note {
        opacity: 1 !important;
    }

    page-add-wallet,
    options-sheet {
        .bp-list ion-icon.item-img.icon.item-icon.icon-settings {

            &.icon-md,
            &.icon-ios {
                opacity: 1;

                img {
                    filter: invert(1);
                }
            }
        }
    }

    // 3 - General
    ion-content {
        --background: var(--bg-color-dark-theme);
        --color: var(--text-color-dark-theme) !important;
    }

    ion-loading {
        --background: var(--bg-color-dark-theme-2);
        color: var(--text-color-dark-theme) !important;
    }

    coin-icon {
        ion-icon.item-img.icon.background_xrp {
            background-color: var(--color-dark);

            &.testnet {
                filter: invert(0.2);
            }
        }
    }

    ion-list {
        background-color: var(--bg-color-dark-theme);
        ion-item {
            --color-hover: none;
            --background-hover: none;
            --background: var(--bg-color-dark-theme);
        }
    }

    ion-modal {
        --background: var(--bg-color-dark-theme);
    }

    form {
        ion-item {
            border-bottom: 1px solid var(--border-color-dark-theme) !important;
        }
    }

    .line-divider {
        border: 0.5px solid var(--border-color-dark-theme-2);
    }

    .royal,
    a.royal {
        color: var(--text-color-dark-theme) !important;
    }

    ion-item-divider .md,
    ion-item-divider .ios {
        --background: var(--bg-color-dark-theme);
    }

    ion-tab-bar {
        --background: var(--bg-color-dark-theme);

        ion-tab-button[aria-selected='true'] {
            opacity: 1;
        }

        ion-tab-button[aria-selected='false'] {
            ion-icon {

                &[name='home'],
                &[name='wallet'],
                &[name='cards'],
                &[name='book-outline'],
                &[name='settings'] {
                    opacity: 0.4;
                }

                &[class*='tab-scan'] {
                    background: url('../assets/img/tab-icons/tab-scan-dm.svg') no-repeat 50% 50%;
                }

                &[class*='tab-copay-scan'] {
                    filter: invert(0.4);
                    opacity: 1;
                }
            }
        }
    }

    .swiper-pagination-bullet-active {
        background-color: var(--swiper-pagination-bullet-active);
    }

    .swiper-pagination-bullet {
        background-color: var(--swiper-pagination-bullet);
    }

    button.item.activated,
    .item-md.activated {
        background-color: var(--bg-color-dark-theme-2);
    }

    .gift-card-content {
        .header-extension {
            background: var(--bg-color-dark-theme-toolbar);
        }
    }

    .box-notification {

        &.success,
        &.info,
        &.warning,
        &.error {
            background: none;
            border: 1px solid;
        }
    }

    ion-toggle {
        --background: var(--bg-color-dark-theme-3);

        &::before {
                background-color: var(--bg-color-dark-theme-3);
            }

        --handle-background: var(--toggle-color-dark-theme);
    }

    .alert-ios {
        .alert-button {
            border-color: var(--bg-color-dark-theme-3);
        }

        .alert-input {
            border-color: var(--bg-color-dark-theme-3);
        }
    }

    ion-alert {
        .alert-wrapper {
            background: var(--bg-color-dark-theme-2);
            color: var(--text-color-dark-theme) !important;

            .alert-title {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .alert-radio-group {
            .alert-radio:not([aria-checked='true']) .alert-radio-label {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .alert-input {
            color: var(--text-color-dark-theme) !important;
            background: var(--bg-color-dark-theme);
            color: var(--text-color-dark-theme) !important;
        }

        .alert-message {
            color: var(--text-color-dark-theme) !important;
        }
    }

    .alert-ios .alert-button ion-action-sheet {
        .action-sheet-group {
            background: var(--bg-color-dark-theme-2);
            color: var(--text-color-dark-theme) !important;

            .action-sheet-button {
                color: var(--text-color-dark-theme) !important;
            }
        }
    }

    .search-container {
        --background: var(--bg-color-dark-theme);
        background-color: var(--bg-color-dark-theme);
    }

    .search-wrapper {
        --background: var(--bg-color-dark-theme-2);
        color: var(--text-color-dark-theme-2) !important;
    }

    search-bar {
        background: var(--bg-color-dark-theme);

        ion-input {
            background: var(--bg-color-dark-theme-message);
            color: var(--text-color-dark-theme) !important;
        }
    }

    action-sheet ion-searchbar {
        background: var(--bg-color-dark-theme-2);

        ion-input {
            background: #292929;
        }
    }

    add-button {
        .add-button {
            &__icon {
                filter: invert(1);
            }

            &__text {
                color: var(--text-color-dark-theme-2) !important;
            }
        }
    }

    .prompt-user {
        .title-info {
            color: var(--text-color-dark-theme) !important;
        }

        .subtitle-info {
            color: var(--text-color-dark-theme-2) !important;
        }
    }

    .gravatar-img {
        filter: invert(1);
    }

    .alertTheme {
        color: var(--text-color-dark-theme) !important;

        .alert-message {
            color: var(--text-color-dark-theme) !important;
        }

        .alert-wrapper {
            background-color: var(--bg-color-dark-theme-2);
        }
    }

    .alertDanger {
        .alert-message {
            color: var(--color-danger);
        }

        color: var(--text-color-dark-theme) !important;

        .alert-wrapper {
            background-color: var(--bg-color-dark-theme-2);
        }

        .alert-input {
            color: var(--text-color-dark-theme) !important;
        }
    }

    .toast-bg {
        .toast-wrapper {
            background-color: var(--bg-color-dark-theme-2);
            color: var(--text-color-dark-theme-2) !important;
        }
    }

    // 3.1 Lists
    .bp-list {
        ion-item {

            &.ios,
            &.md {
                border: 0;
                --background: var(--bg-color-dark-theme);
                background-color: var(--bg-color-dark-theme);
            }

            &:not(.create-button):not(.assertive) {

                &.ios,
                &.md {
                    color: var(--text-color-dark-theme) !important;
                }
            }
        }

        .main-label,
        .main-note,
        .status .royal {
            color: var(--text-color-dark-theme) !important;
        }

        ion-item-divider {
            background: var(--bg-color-dark-theme) !important;

            ion-label {
                color: var(--text-color-dark-theme-3) !important;
            }
        }

        .summary-item-detail {
            color: var(--text-color-dark-theme) !important;

            .text-input {
                color: var(--text-color-dark-theme) !important;
                opacity: 1;
            }
        }

        .total-amount {
            color: var(--text-color-dark-theme) !important;
        }
    }

    .button-secondary {
        --background: var(--bg-color-dark-theme-3) !important;
        color: var(--text-color-dark-theme-2) !important;

        &:hover,
        &:focus,
        &:active {

            &.md,
            &.ios {
                --background-color: var(--bg-color-dark-theme-2) !important;
                color: var(--text-color-dark-theme-2) !important;
            }
        }

        &:active,
        &.activated {

            &.md,
            &.ios {
                --background: var(--bg-color-dark-theme-2) !important;
                color: var(--text-color-dark-theme-2) !important;
            }
        }
    }

    // 3.2 - Label tip
    label-tip {
        opacity: 0.7;
        color: var(--text-color-dark-theme-2) !important;

        &.info {
            background-color: var(--bg-color-dark-theme-4) !important;

            &:before {
                border-bottom-color: var(--bg-color-dark-theme-4) !important;
            }
        }

        &.warn {
            background-color: var(--bg-color-dark-theme-4) !important;

            &:before {
                border-bottom-color: var(--bg-color-dark-theme-4) !important;
            }
        }

        &.danger {
            background-color: var(--bg-color-dark-theme-4) !important;

            &:before {
                border-bottom-color: var(--bg-color-dark-theme-4) !important;
            }
        }

        .label-header {
            color: var(--text-color-dark-theme) !important;
        }
    }

    // 3.3 - General cards
    action-card-v4.card {
        background-color: var(--bg-color-dark-theme-2);

        .action-card__content {
            background-color: var(--bg-color-dark-theme-2);

            .action-card__title {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .bitpay-card-header,
        .home-gift-card-header {
            background-color: var(--bg-color-dark-theme-3);
        }
    }

    action-card.card {
        background: var(--bg-color-dark-theme-2);

        .action-card {
            &__content {
                background: var(--bg-color-dark-theme-2);
            }
        }
    }

    .card {
        page-txp {
            .proposal-container .item-inner {
                border-bottom: 1px solid var(--border-color-dark-theme-2);
            }
        }
    }

    .offer-card {
        background: var(--bg-color-dark-theme-2);

        .main-label {
            color: var(--text-color-dark-theme) !important;
        }

        .extended-info .bp-list {
            .item {
                background: var(--bg-color-dark-theme-2);

                &:not(:last-child) {
                    border-top: 1px dashed #434d5a;
                }
            }

            .total {
                color: white;
            }
        }

        .terms {
            color: #8e8d8d;
        }
    }

    // 3.4 - Expandable header
    ion-content.add-padding-bottom,
    .add-padding-bottom ion-content {

        .fixed-content,
        .scroll-content {
            background-color: var(--bg-color-dark-theme);
        }
    }

    .wide-header__title {
        color: var(--text-color-dark-theme) !important;
        background: var(--bg-color-dark-theme);
    }

    wide-header-page,
    card-catalog-page {
        .wide-header {
            .toolbar-background {
                background: var(--bg-color-dark-theme-toolbar);
            }
        }
    }

    .header-extend {
        background: var(--bg-color-dark-theme-toolbar);
    }

    // 3.5 - Toolbar
    ion-toolbar {
        --background: var(--bg-color-dark-theme);
        color: var(--text-color-dark-theme) !important;
    }

    .content-ios .toolbar-background-ios {
        background: var(--bg-color-dark-theme);
    }

    .bar-button-default-md,
    .bar-button-default.bar-button-md-default,
    .bar-button-clear-md-default {
        color: var(--text-color-dark-theme) !important;
    }

    .toolbar-content-md,
    .toolbar-content-ios {
        color: var(--text-color-dark-theme) !important;

        .bar-buttons-md,
        .bar-buttons-ios {
            .bar-button .button-inner {
                color: var(--text-color-dark-theme-2) !important;
            }
        }
    }

    ion-title {
        color: var(--text-color-dark-theme) !important;
    }

    .header .toolbar-background {
        background-color: var(--bg-color-dark-theme);
    }

    .toolbar {

        &.toolbar-md,
        &.toolbar-ios {

            .back-button,
            .close-container {
                background-color: var(--bg-color-dark-theme-2);
                color: var(--text-color-dark-theme) !important;

                &.button-default,
                &.button-md.activated,
                &.button-ios.activated {
                    background-color: var(--bg-color-dark-theme-2);
                }
            }
        }
    }

    page-bitpay-card {
        .toolbar {

            &.toolbar-md,
            &.toolbar-ios {
                .back-button {
                    background-color: rgba(155, 163, 174, 0.12);
                }
            }
        }

        ion-spinner {
            * {
                stroke: var(--text-color-dark-theme) !important;
            }
        }
    }

    page-bitpay-card-intro {
        ion-toolbar {
            background-color: var(--bg-color-dark-theme-2);
        }
    }

    // 4 - Components
    action-sheet {
        .action-sheet {
            background: var(--bg-color-dark-theme-2) !important;

            .bp-list {
                background: var(--bg-color-dark-theme-2) !important;

                ion-item {

                    &.ios,
                    &.md {
                        --background: var(--bg-color-dark-theme-2) !important;
                        color: var(--text-color-dark-theme) !important;
                    }
                }
            }

            .ion-item {

                &.ios,
                &.md {
                    --background: var(--bg-color-dark-theme-2) !important;
                }
            }
        }
    }

    amount-picker {
        .amount-picker {
            &__amount {
                color: var(--color-primary);
            }

            &__button {
                border-color: var(--color-primary);

                img {
                    filter: brightness(1.7) hue-rotate(8deg);
                }
            }
        }
    }

    info-sheet {
        .info-container {
            background-color: var(--bg-color-dark-theme-2);

            info-sheet-template {
                .confirm-sheet {
                    background-color: var(--bg-color-dark-theme-2);
                    color: var(--text-color-dark-theme) !important;

                    .sheet-title {
                        color: var(--text-color-dark-theme) !important;
                    }

                    .sheet-text {
                        color: var(--text-color-dark-theme-2) !important;
                    }

                    .sheet-btn-group {
                        border-top: 1px solid var(--border-color-dark-theme);

                        .sheet-btn.default,
                        .sheet-second-btn {
                            color: var(--text-color-dark-theme-2) !important;
                        }
                    }
                }
            }
        }
    }

    wallet-selector {

        .item-divider-md,
        .item-divider-ios {
            background-color: var(--bg-color-dark-theme-2);
            border-bottom: 1px solid var(--bg-color-dark-theme-2);
        }
    }

    memo-component {
        .textarea-custom {
            background-color: var(--bg-color-dark-theme);
            color: var(--text-color-dark-theme) !important;
        }

        .title {
            color: var(--text-color-dark-theme) !important;
        }
    }

    contact-pop-up-component {
        .text-input {
            background-color: var(--bg-color-dark-theme);
            color: var(--text-color-dark-theme) !important;
        }

        .title {
            color: var(--text-color-dark-theme) !important;
        }
    }

    page-choose-fee-level {
        .testnet-warning {
            background-color: var(--color-warning);
        }

        .fee {
            &-speed-name {
                color: var(--text-color-dark-theme) !important;
            }

            &-speed-satByte {
                color: var(--text-color-dark-theme) !important;
            }

            &-avg-label {
                color: var(--text-color-dark-theme) !important;
            }

            &-avg-time {
                color: var(--text-color-dark-theme) !important;
            }

            &-card {
                background-color: var(--bg-color-dark-theme);

                .item {

                    &.item-ios,
                    &.item-md {
                        background: var(--bg-color-dark-theme);
                        color: var(--text-color-dark-theme) !important;
                    }
                }
            }
        }
    }

    page-slide-to-accept {
        background: linear-gradient(to bottom,
                rgba(18, 18, 18, 0),
                rgba(18, 18, 18, 1),
                rgba(18, 18, 18, 1));
        background: -webkit-linear-gradient(to bottom,
                rgba(18, 18, 18, 0),
                rgba(18, 18, 18, 1),
                rgba(18, 18, 18, 1));
    }

    page-fingerprint {
        ion-content {
            background-color: var(--bg-color-dark-theme) !important;
        }

        .fingerprint-header {
            border-bottom: 1px solid var(--border-color-dark-theme);
            background-color: var(--bg-color-dark-theme-2);

            .title {
                color: var(--text-color-dark-theme) !important;
            }
        }
    }

    page-pin {
        ion-header {
            .toolbar-background {
                background-color: var(--bg-color-dark-theme);
            }
        }

        ion-content {
            background-color: var(--bg-color-dark-theme) !important;
        }

        .pin-header {
            .title {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .content {
            background-color: var(--bg-color-dark-theme);
        }
    }

    page-feedback-card {
        ion-card.card {
            background-color: var(--bg-color-dark-theme-2);
            color: var(--text-color-dark-theme) !important;
        }
    }

    page-lotus-donation-card {
        ion-card.card {
            background-color: var(--bg-color-dark-theme-2);
            color: var(--text-color-dark-theme) !important;
        }
    }

    incoming-data-menu {
        img {
            filter: invert(0.7);
        }
    }

    page-finish {
        .bg-none {
            background-color: var(--bg-color-dark-theme);
        }

        .container {
            .content {
                .body {
                    &-text {
                        &.bg-none {
                            color: var(--text-color-dark-theme) !important;
                        }
                    }
                }
            }
        }
    }

    encrypt-password,
    miner-fee-warning {
        action-sheet {
            .action-sheet-bottom {
                background: var(--bg-color-dark-theme);

                .encrypt-password,
                .miner-fee {

                    .encrypt-password-info,
                    .miner-fee-info {
                        .info {
                            .title {
                                color: var(--text-color-dark-theme) !important;
                            }

                            .text {
                                color: var(--text-color-dark-theme-2) !important;

                                b {
                                    color: var(--text-color-dark-theme) !important;
                                }
                            }
                        }
                    }

                    .encrypt-password-form {
                        .slide-title {
                            color: var(--text-color-dark-theme) !important;
                        }

                        form {
                            ion-item {
                                --background: var(--bg-color-dark-theme-2);
                                color: var(--text-color-dark-theme) !important;

                                ion-label {

                                    &.label-ios,
                                    &.label-md {
                                        color: var(--text-color-dark-theme-2) !important;
                                    }
                                }

                                ion-input {

                                    input[type='password'],
                                    input[type='text'] {
                                        color: var(--text-color-dark-theme) !important;
                                    }
                                }
                            }

                            .item-inner {
                                border-bottom-color: var(--border-color-dark-theme) !important;
                            }

                            button {

                                .ion-md-eye:before,
                                .ion-md-eye-off:before {
                                    color: var(--text-color-dark-theme-2) !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .notification-modal-panel {
        .notification-content {
            background-color: var(--bg-color-dark-theme-2);

            .slide-zoom {
                .notification-info {
                    .notification-title {
                        color: var(--text-color-dark-theme) !important;
                    }

                    .notification-message {
                        color: var(--text-color-dark-theme) !important;
                    }
                }

                .notification-button {
                    ion-label {
                        color: var(--text-color-dark-theme) !important;
                    }
                }
            }
        }
    }

    // 5 - Tabs
    // 5.1 Tab Home
    page-home {
        .total-amount-container {
            .total-amount-value {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .section-header .date-label {
            background-color: var(--bg-color-dark-theme-2);
        }

        .message {
            &-background {
                background-color: var(--bg-color-dark-theme-message);
            }
        }
    }

    // 5.15 Price Page
    price-page {
        .total-amount-container {
            .total-amount-value {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .labels {
            .inactive {
                color: var(--text-color-dark-theme) !important;
            }
        }
    }

    // 5.2 - Tab Wallets
    page-wallets {
        .collapse>.collapse-btn {
            background: var(--bg-color-dark-theme-2);
        }

        .section-header {
            border-bottom: 1px solid var(--border-color-dark-theme);
        }

        .collapse .item-img {
            filter: invert(1);
        }
    }

    page-txp {
        .item {

            &.item-ios,
            &.item-md {
                background-color: var(--bg-color-dark-theme-2);
                color: var(--text-color-dark-theme) !important;
            }
            ion-label {
                color: var(--text-color-dark-theme) !important;                
            }
        }

        ion-note .amount {
            color: var(--text-color-dark-theme) !important;
        }
    }

    page-txp-details {
        .proposal-deletion {
            background-color: var(--bg-color-dark-theme);
        }

        .proposal-rejection {
            background-color: var(--bg-color-dark-theme);
        }

        ion-note {
            .wallet {
                .note-container {
                    color: var(--text-color-dark-theme) !important;
                }
            }
        }
    }

    page-copayers,
    page-txp-details,
    page-tx-details {
        .timeline-item {
            background-color: var(--bg-color-dark-theme);
        }
    }

    page-confirm,
    confirm-card-purchase-page,
    page-txp-details,
    page-tx-details,
    page-bitpay-card-topup,
    page-create-eth-multisig {
        .payment-proposal-to {
            background-color: var(--bg-color-dark-theme-2);
            color: var(--text-color-dark-theme) !important;
        }

        .wallet,
        .multi-recip-title {
            span {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .bp-list {
            .summary-item,
            .total-amount-note,
            .secondary-note {
                color: var(--text-color-dark-theme) !important;
            }

            ion-note {
                .note-container {
                    color: var(--text-color-dark-theme) !important;
                }
            }
        }

        .background-button-content {
            background-color: var(--bg-color-dark-theme-2);
        }
    
        .input-contact-custom {
            background-color: var(--bg-color-dark-theme-message);
        }

        .background-button-content {
            background-color: var(--bg-color-dark-theme-2);
        }
    }

    page-bitpay-card-topup {
        ion-content {
            ion-item {
                background-color: var(--bg-color-dark-theme);
                color: var(--text-color-dark-theme) !important;
            }
        }
    }

    page-wallet-details,
    page-coinbase-account,
    page-bitpay-card {
        ion-content {
            background: var(--bg-color-dark-theme);
        }

        .toolbar-background {
            background: var(--bg-color-dark-theme) !important;
        }

        .search-button img {
            filter: invert(1);
        }

        .ion-ios-more:before {
            filter: invert(1);
        }

        .wallet-info {
            .left-buttons {

                .encrypted,
                .testnet {
                    filter: invert(1);
                }

                .read-only {
                    filter: invert(0);
                }

                .square-border {
                    span {
                        border: 1px solid var(--text-color-dark-theme) !important;
                    }
                }
            }
        }

        .action-buttons {
            .button-standard {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .balance-card {
            background: var(--bg-color-dark-theme);
        }

        .tx-history {
            .tx-history-header {
                &.item {
                    background: #212121;
                }
            }

            .item {
                --background: var(--bg-color-dark-theme-2);
                color: var(--text-color-dark-theme) !important;
                --border-color: var(--border-color-dark-theme);

                &.warning-background {
                    background-color: var(--bg-color-dark-theme-3);

                    ion-note>.amount>.received,
                    .action {
                        color: var(--color-warning) !important;
                    }
                }

                &.danger-background {
                    background-color: var(--bg-color-dark-theme-3);

                    ion-note>.amount>.received,
                    .action {
                        color: var(--color-danger) !important;
                    }
                }
            }
        }

        .white-card {
            background: var(--bg-color-dark-theme-2);
            color: var(--text-color-dark-theme) !important;
        }
    }

    page-copayers {
        .white-card {
            background: var(--bg-color-dark-theme);
            color: var(--text-color-dark-theme) !important;

            .timeline-content-icon ion-icon {
                &[name='time-outline'] {
                    filter: invert(1);
                }
            }
        }
    }

    .tx-history {
        .icon-services {
            border: 1px solid var(--text-color-dark-theme-2) !important;
        }

        .amount {
            color: var(--text-color-dark-theme) !important;
        }

        .date {
            color: var(--text-color-dark-theme-2) !important;
        }
    }

    wallet-receive,
    page-choose-fee-level {
        .addr-header {
            .addr-title {
                color: var(--text-color-dark-theme) !important;
            }

            .addr-buttons .addr-update {
                background-color: var(--bg-color-dark-theme-3);
            }
        }

        .addr-content {
            .addr-container {
                .text-address {
                    background-color: var(--bg-color-dark-theme-3);
                    color: var(--text-color-dark-theme-3);
                }
            }

            .qr-container {
                .lines-background {
                    background: url(../assets/img/curved-lines-background.png) center center no-repeat var(--bg-color-warning);
                    opacity: 0.1;
                }
            }
        }

        .close-btn {
            button {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .segment-button {
            color: var(--text-color-dark-theme) !important;
        }
    }

    page-send,
    page-multi-send,
    page-select-inputs,
    page-proposals-notifications {
        .amount {
            color: var(--text-color-dark-theme) !important;
        }

        .address,
        .amount-str {
            opacity: 1;
            color: var(--text-color-dark-theme-2) !important;
        }

        .recipient {
            background-color: var(--bg-color-dark-theme);

            ion-label {
                color: var(--text-color-dark-theme) !important;
            }
        }

        ion-header .item-divider-exp-header {
            .header-data {
                color: var(--text-color-dark-theme-2) !important;
            }
        }

        .content-list {
            .item {
                background-color: var(--bg-color-dark-theme);

                .item-inner {
                    border-bottom: 1px solid var(--border-color-dark-theme);
                }
            }

            .item-divider-header {
                &.item {
                    background: var(--bg-color-dark-theme-2);
                    color: var(--text-color-dark-theme-2) !important;
                }
            }
        }

        .total-inputs {
            &-str {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .send-header-wrapper {
            background-color: var(--bg-color-dark-theme);
        }

        .uri-header-wrapper {
            background-color: var(--bg-color-dark-theme);
        }

        .search-wrapper {
            .scan-icon {
                border-left: 1px solid rgba(151, 151, 151, 0.2);
            }
        }

        .invalid {
            border: 1px solid var(--color-error);
            color: var(--color-error);
        }

        ion-checkbox {
            .checkbox-icon {
                border-color: var(--color-primary);
                background-color: var(--bg-color-dark-theme);
            }
        }

        .txp-container {
            background-color: var(--bg-color-dark-theme);
        }
    }

    create-new-wallet {
        .zero-state-wallets {
            background-color: var(--bg-color-dark-theme-3);
        }
    }

    // 5.3 - Tab Cards
    page-cards {
        .card-item {
            background: var(--bg-color-dark-theme);
        }
    }

    buy-card-page {
        .amount-box {
            background-image: linear-gradient(-180deg,
                    var(--bg-color-dark-theme) 30%,
                    var(--gradient-dark-theme) 100%);

            .discount-header {
                background-color: var(--bg-color-dark-theme-2);
                color: var(--text-color-dark-theme) !important;
                border-bottom: 1px solid rgba(247, 247, 247, 0.02);
            }
        }

        .buy-box {
            background-color: #171717;
        }
    }

    card-catalog-page {
        .card-list-item {
            background: none;

            &__label {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .category-item {
            background: none;

            ion-label {
                color: var(--text-color-dark-theme) !important;
            }

            &:after {
                background-color: var(--bg-color-dark-theme-2);
            }
        }

        .no-results {
            &__title {
                color: var(--text-color-dark-theme) !important;
            }

            &__subtitle {
                color: var(--text-color-dark-theme-3);
            }
        }
    }

    card-catalog-page,
    merchant-page {
        .section-divider {
            background: var(--bg-color-dark-theme-2);
        }
    }

    merchant-page {
        .cover {
            background-image: linear-gradient(180deg, #121212 0%, #1d1d1d 100%);
        }

        .body {

            &__title,
            &__subtitle {
                color: var(--text-color-dark-theme) !important;
            }

            &__caption,
            &__instructions {
                color: var(--text-color-dark-theme-2) !important;
            }
        }
    }

    page-bitpay-phase-one-card-intro {
        .phaseOne {
            &__content {
                &__title {
                    color: var(--text-color-dark-theme) !important;
                }

                &__description {
                    color: var(--text-color-dark-theme-3);
                }
            }

            &__form {
                &__link {
                    color: var(--color-primary);
                }
            }

            &__form-toggle {
                &__label {
                    color: var(--text-color-dark-theme-3);
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }

    // 5.4 - Tab Settings
    page-settings,
    page-about,
    page-add-wallet {
        .bp-list {
            ion-note {
                background: var(--bg-color-dark-theme-2) !important;
                color: var(--text-color-dark-theme-2) !important;
            }

            ion-icon {
                color: #555a60 !important;
            }

            .icon-qrcode {
                filter: invert(1) !important;
            }
        }
    }

    page-alt-currency,
    page-country-selector,
    page-key-settings,
    page-wallet-information,
    page-wallet-addresses,
    page-wallet-settings {
        .bp-list.settings-list {

            ion-item {
                ion-note {
                    background: var(--bg-color-dark-theme-2);
                    color: var(--text-color-dark-theme-2) !important;
                }
            }
        }
    }

    page-addressbook-add,
    page-join-wallet {
        ion-item {
            --background: var(--bg-color-dark-theme);
            --color: var(--text-color-dark-theme-2) !important;
        }
    }

    page-addressbook {
        .zero-state-icon {
            background-color: var(--bg-color-dark-theme-3);
        }
    }

    page-wallet-addresses {
        button.item {
            background: var(--bg-color-dark-theme);
        }
    }

    page-scan {
        .page-scan-has-problems {
            background-color: var(--bg-color-dark-theme-toolbar);

            .body {
                background-color: var(--bg-color-dark-theme-toolbar);

                div {
                    color: var(--bg-color-dark-theme-toolbar);
                }
            }
        }
    }

    card-details-page {
        background-color: var(--bg-color-dark-theme);

        .gift-card-content .scroll-content>div.wrapper {
            background-color: var(--bg-color-dark-theme);
        }

        .card-image {
            img {
                background: var(--bg-color-dark-theme);
            }
        }

        .card-info {
            background-color: var(--bg-color-dark-theme-3);
            border: 1px solid var(--border-color-dark-theme);

            &__title {
                color: var(--text-color-dark-theme-2) !important;
            }

            &__body {
                color: var(--text-color-dark-theme) !important;
            }

            &__date {
                color: var(--text-color-dark-theme-3);
            }

            &.has-pin {
                .separator {
                    border-top: 1px solid var(--border-color-dark-theme);
                }
            }
        }
    }

    page-share {
        .share-buttons {
            background-color: var(--bg-color-dark-theme);
        }
    }

    // 6 - Other Pages
    page-amount {
        ion-content.content {
            background-color: var(--bg-color-dark-theme);
        }
    }

    page-simplex,
    page-wyre {
        .buy-crypto-button {
            color: var(--text-color-dark-theme) !important;
        }
    }

    page-add,
    page-select-currency,
    page-coin-selector,
    select-invoice-page {
        .list-button {
            .item-title {
                color: var(--text-color-dark-theme) !important;
            }

            .item-subtitle {
                color: var(--text-color-dark-theme-2) !important;
            }
        }
    }

    page-import-wallet,
    page-create-wallet,
    page-create-eth-multisig,
    page-bitpay-phase-one-card-intro {
        ion-item {
            background: var(--bg-color-dark-theme);
            color: var(--text-color-dark-theme) !important;
        }
        ion-segment-button {
            &::part(native) {
                color: var(--ion-color-primary) !important;
            }
        }
    }

    page-create-wallet,
    page-create-eth-multisig,
    page-join-wallet {
        .linked-wallet {
            color: var(--text-color-dark-theme) !important;
            background-color: var(--bg-color-dark-theme);
        }
    }

    page-create-eth-multisig {
        .multisig-input {
            background-color: var(--bg-color-dark-theme);

            .search-wrapper {
                --background: var(--bg-color-dark-theme-2);
                color: var(--text-color-dark-theme-2) !important;

                &.invalid {
                    border: 1px solid var(--color-error);
                    color: var(--color-error);
                }
            }
        }
    }

    phone-sheet {
        .country__label {
            color: white;
        }
    }

    email-component,
    phone-sheet,
    phone-page {
        .title {
            color: var(--text-color-dark-theme) !important;
        }

        .sub-title {
            color: var(--text-color-dark-theme) !important;
        }

        ion-item,
        ion-item.item-toggle ion-label {
            background: var(--bg-color-dark-theme-2);
            color: var(--text-color-dark-theme) !important;
        }
    }

    phone-page {

        ion-item,
        ion-item.item-toggle ion-label {
            background: var(--bg-color-dark-theme);
        }

        .phone-input {
            color: white;
            --phone-input-border-color-dark-theme: rgba(255, 255, 255, 0.4);
            border-bottom-color: var(--phone-input-border-color-dark-theme);

            &__country-code {
                border-color: var(--phone-input-border-color-dark-theme);
            }
        }
    }

    page-send-feedback {
        .msg-to-user {
            background: var(--bg-color-dark-theme);

            .feedback-title {
                color: var(--text-color-dark-theme) !important;
            }

            .feedback-msg {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .user-feedback-card {
            background-color: var(--bg-color-dark-theme-2);

            .user-feedback-title {
                color: var(--text-color-dark-theme) !important;
            }
        }
    }

    page-key-onboarding {
        .key-onboarding-slides {
            .swiper-slide {
                background: linear-gradient(to bottom,
                        var(--bg-color-dark-theme),
                        var(--gradient-dark-theme) 80%);
            }

            .slide-info {
                background: var(--bg-color-dark-theme);

                .info .title,
                .title {
                    color: var(--text-color-dark-theme) !important;
                }

                .info .text,
                .text {
                    color: var(--text-color-dark-theme-2) !important;
                }
            }
        }

        ion-toolbar {
            --background: var(--bg-color-dark-theme);
        }

        .checkbox-list {
            .external-link {
                color: var(--text-color-dark-theme-2) !important;
            }

            .text {
                color: var(--text-color-dark-theme) !important;
            }
        }

        .swiper-pagination-bullet {
            background-color: var(--text-color-dark-theme-2) !important;
        }
    }

    page-backup-key,
    page-backup-game {
        ion-content.content {
            background: var(--bg-color-dark-theme);
        }

        .key-container,
        .grid-container>.key-container {

            .word-container,
            .word-container>.word-slides {
                .word-title {
                    color: var(--text-color-dark-theme) !important;
                }

                .word {
                    background: var(--bg-color-dark-theme-2) !important;
                    color: var(--text-color-dark-theme) !important;

                    .dash-line {
                        border-bottom: 1px var(--border-color-dark-theme) dashed;
                    }
                }
            }
        }

        .grid-container>.mnemonic-words-container {
            .mnemonic-words {
                .words {
                    .button {
                        background-color: var(--bg-color-dark-theme-2);
                        color: var(--text-color-dark-theme) !important;
                    }
                }
            }
        }
    }

    page-coinbase {
        ion-content {
            .center-header .button-clear-md-dark {
                color: var(--text-color-dark-theme) !important;
            }
        }
    }

    page-custom-amount {
        .qr-card-amount {
            background-color: var(--bg-color-dark-theme);
        }

        .qr-container {
            background-color: var(--bg-color-dark-theme);

            div.qr-card.card {
                background-color: var(--bg-color-dark-theme);
            }

            .qr-card {
                background-color: white;
            }
        }

        .receive-content {
            background-color: var(--bg-color-dark-theme);

            .addr-container {
                .text-address {
                    background: var(--bg-color-dark-theme-2);
                    color: var(--text-color-dark-theme-2) !important;
                }
            }
        }
    }

    card-terms {
        .terms * {
            color: var(--text-color-dark-theme-3);
        }
    }

    page-card-item {
        .card-icon {
            .houston {
                img {
                    filter: invert(1);
                }
            }
        }
    }

    page-session-log {
        .filter-container {
            .labels {
                color: var(--text-color-dark-theme) !important;
            }
        }
    }

    page-fee-policy {
        .description {
            color: var(--text-color-dark-theme-2) !important;
        }

        ion-list {
            .item-divider-ios {
                background-color: var(--bg-color-dark-theme);
            }

            .item {

                &.item-ios,
                &.item-md {
                    .item-inner {
                        background-color: var(--bg-color-dark-theme);
                    }
                }
            }

            .network-fee-policy {
                &-title {
                    color: var(--text-color-dark-theme) !important;
                }

                &-rate {
                    color: var(--text-color-dark-theme) !important;
                }
            }
        }
    }

    // 7 - Buy Crypto
    page-crypto-order-summary {
        .bp-list {
            .card {
                background: var(--bg-color-dark-theme);

                .item {

                    &.item-ios,
                    &.item-md {
                        background-color: var(--bg-color-dark-theme-2);

                        ion-note {
                            img {
                                filter: brightness(0.5);
                            }
                        }
                    }
                }
            }
        }
    }

    page-crypto-payment-method {
        .item-img img {
            filter: brightness(0.5);
        }
    }

    page-crypto-offers {
        .bp-list {
            .summary-description {
                color: var(--text-color-dark-theme) !important;
            }
        }
    }

    page-crypto-coin-selector {
        .bp-list {
            .available-wallets {
                &-container {
                    background-color: var(--bg-color-dark-theme-2);
                }

                &-label {
                    color: var(--text-color-dark-theme-2) !important;
                }
            }
        }
    }

    ion-col {
        .ellipsis {
            color: var(--text-color-dark-theme) !important;
        }
    }

    // 8 - Exchange Crypto

    page-exchange-crypto {
        .amount .amount-container {
            background-color: var(--bg-color-dark-theme-2);
            color: var(--text-color-dark-theme-2) !important;
        }

        .divider {
            border-bottom: 1px solid var(--border-color-dark-theme);

            .arrow img {
                filter: brightness(0.6);
            }
        }

        .partner {
            color: var(--text-color-dark-theme-2) !important;
        }
    }

    // 9 - Onboarding
    page-feature-education,
    page-recovery-key,
    page-lock-method {

        .onboarding-slides,
        .recovery-key-info,
        .lock-method-info {
            .info {
                .title {
                    color: var(--text-color-dark-theme) !important;
                }

                .text {
                    color: var(--text-color-dark-theme-2) !important;
                }

                .note {
                    color: var(--text-color-dark-theme-3) !important;
                }
            }

        }

        .custom-footer {
            --ion-toolbar-background: none !important;
        }
    }

    page-disclaimer {
        background-color: var(--bg-color-dark-theme) !important;

        .checkbox-list {
            .term-container {
                background-color: var(--bg-color-dark-theme-2) !important;

                .term {
                    &-title {
                        color: var(--text-color-dark-theme) !important;
                    }

                    &-note {
                        color: var(--text-color-dark-theme-2) !important;
                    }
                }
            }

            .term-container.bg-none {
                .term-note {
                    color: var(--text-color-dark-theme) !important;
                }
            }

            .checkbox-icon {
                border-color: var(--bg-color-dark-theme-3) !important;
            }
        }

        ion-footer {
            background-color: var(--bg-color-dark-theme) !important;
        }

        ion-label {
            color: var(--text-color-dark-theme) !important;
        }

        .disclaimer-footer {
            background-color: var(--bg-color-dark-theme) !important;
            box-shadow: 0 -15px 22px -10px var(--bg-color-dark-theme-3) !important;
        }
    }

    page-add-funds {
        background-color: var(--bg-color-dark-theme);

        ion-list {
            .option-container {
                background-color: var(--bg-color-dark-theme-2);
                box-shadow: none;

                .info {
                    .title {
                        color: var(--text-color-dark-theme) !important;
                    }

                    .note {
                        color: var(--text-color-dark-theme-2) !important;
                    }
                }
            }
        }

        .disclaimer-footer {
            background-color: var(--bg-color-dark-theme);
        }
    }

    // 10 - New Features Slides
    page-new-feature {
        .new-feature-slides ion-slide {
            .supperior-container {
                background: linear-gradient(180deg, #606060 0%, #202124 100%);

                .page-title {
                    color: #ffffff;
                }
            }

            .slide-info {
                background-color: #000000;

                .title {
                    color: #ffffff;
                }

                .text {
                    color: #ffffff;
                }
            }
        }
    }
}