.send-feedback-star {
  height: 2rem;
  margin-left: 5px;
}
.rating-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    height: 36px;
  }
}
ion-content {
  background-color: rgb(248, 248, 248);
}
.feedback-title {
  font-size: 28px;
  font-weight: bold;
  color: black;
  max-width: 200px;
  line-height: 32px;
}
.feedback-msg {
  font-size: 16px;
  color: rgb(16, 16, 16);
  font-weight: 300;
  margin-top: 12px;
}
ion-textarea {
  background-color: var(--color-blank);
}
.msg-to-user {
  background-color: white;
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.user-feedback-card {
  background-color: white;
  margin: 12px;
  margin-top: 20px;
  border-radius: 3px;
  padding: 22px;
  padding-bottom: 18px;
  cursor: pointer;
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.06);
}
.user-feedback-title {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.feedback-icon {
  margin-right: 18px;
  margin-top: 3px;
}
.feedback-action-icon {
  float: right;
  margin-top: 4px;
}
.arrow {
  border: solid rgb(171, 174, 181);
  border-width: 0 2px 2px 0;
  padding: 3px;
  width: 15px;
  height: 15px;
  &.arrow-right {
    margin-top: 6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  &.arrow-dropdown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 3px;
  }
  &.arrow-dropup {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 9px;
  }
}

a {
  text-decoration: none;
}
.feedback-form {
  margin: -12px 12px 12px 12px;
  ion-item {
    .item-inner {
      border-bottom: none !important;
      box-shadow: none !important;
    }
  }
  ion-textarea {
    textarea {
      font-size: 16px;
      margin: 0px;
    }
  }
}
.feedback-form-card {
  background-color: white;
  margin: -20px 12px 12px 12px;
  border-radius: 3px;
  padding-bottom: 18px;
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.06);
}
.close-btn {
  font-size: 2em;
}
