<wide-header-page title="{{'Payment Proposal'|translate}}"
  [hasSlideButton]="(tx && !tx.removed) && (tx && tx.pendingForUs && canSign && !paymentExpired) && isCordova"
  [hideBackButton]="true">
  <ion-buttons slot="start">
    <ion-button class="close-container disable-hover" (click)="close()">
      <ion-icon color="dark" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <div page-content>
    <div class="line-divider" *ngIf="tx"></div>
    <ion-list *ngIf="tx" class="bp-list" lines="none">
      <ion-item>
        <div class="header-container">
          <div class="amount-label">
            <div class="amount">
              {{tx.amountValueStr}} {{tx.amountUnitStr | uppercase}}
            </div>
            <div class="alternative" *ngIf="tx.alternativeAmountStr">{{tx.alternativeAmountStr}}</div>
          </div>
        </div>
      </ion-item>

      <div class="line-divider" *ngIf="tx && tx.removed"></div>

      <div *ngIf="tx && tx.removed" class="box-notification warning ion-text-wrap">
        <span translate>The payment was removed by creator</span>
      </div>
      <div class="line-divider" *ngIf="tx && tx.status != 'pending'"></div>

      <div *ngIf="tx && tx.status != 'pending'">
        <div class="ion-text-center box-notification info" *ngIf="tx && tx.status == 'accepted'">
          <div class="ion-text-wrap" translate>Payment accepted, but not yet broadcasted</div>
          <ion-button class="ion-margin" fill="outline" size="small" slot="start" (click)="broadcast()" [disabled]="loading">
            <ion-icon name="cloud-upload"></ion-icon>
            <span translate>Broadcast Payment</span>
          </ion-button>
        </div>
        <div class="box-notification success" *ngIf="tx && tx.status == 'broadcasted'" translate>
          Payment Sent
        </div>
        <div class="box-notification warning" *ngIf="tx && tx.status =='rejected'" translate>
          Payment Rejected
        </div>
      </div>

      <ion-item class="sub-title">
        <ion-label>
          <div class="main-label" translate>DETAILS</div>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="tx && tx.feeStr && tx.action != 'received' && !(isShared && tx.coin === 'eth')">
        <ion-label>
          <div class="summary-item">
            <span translate>Miner fee</span>
            <b>{{tx.feeLevelName}}</b>
          </div>
        </ion-label>
        <ion-note slot="end">
          <div class="summary-item-detail">
            {{tx.feeStr}}
          </div>
          <div class="secondary-note fee-details">
            {{tx.feeFiatStr}}
            <span *ngIf="tx.feeRateStr">
              &middot;
              <span>
                <span *ngIf="tx.feeRateStr">{{tx.feeRateStr}}
                  <span translate> of total amount</span>
                </span>
              </span>
            </span>
          </div>
        </ion-note>
      </ion-item>

      <div class="line-divider" *ngIf="(tx && !tx.removed) && isShared && (tx && tx.pendingForUs) && !paymentExpired">
      </div>

      <div class="ion-padding proposal-rejection"
        *ngIf="(tx && !tx.removed) && isShared && (tx && tx.pendingForUs) && !paymentExpired && !tx.multisigContractAddress">
        <ion-button fill="clear" color="danger" (click)="reject()" [disabled]="loading">
          {{'Reject Payment Proposal'| translate}}
        </ion-button>
      </div>

      <div class="line-divider"></div>


      <page-multiple-outputs [tx]="tx"></page-multiple-outputs>

      <div class="line-divider"></div>

      <ion-item>
        <ion-label>
          <div class="summary-item">
            <span translate>Sending from</span>
          </div>
        </ion-label>
        <ion-note slot="end">
          <ion-row class="ion-align-items-center wallet" *ngIf="wallet">
            <ion-col>
              <coin-icon [coin]="wallet.coin" [network]="wallet.network"></coin-icon>
            </ion-col>
            <ion-col>
              <span slot="" class="note-container ellipsis">{{wallet.name}}</span>
            </ion-col>
          </ion-row>
        </ion-note>
      </ion-item>

      <div class="line-divider" *ngIf="tx.creatorName && isShared"></div>

      <ion-item *ngIf="tx.creatorName && isShared">
        <ion-label>
          <div class="summary-item">
            <span translate>Created by</span>
          </div>
        </ion-label>
        <ion-note slot="end">
          <span class="note-container ellipsis summary-item-detail">{{tx.creatorName}}</span>
        </ion-note>
      </ion-item>

      <div class="line-divider" *ngIf="tx && tx.ts || tx.createdOn"></div>

      <ion-item *ngIf="tx && tx.ts || tx.createdOn">
        <ion-label>
          <div class="summary-item">
            <span translate>Time</span>
          </div>
        </ion-label>
        <ion-note slot="end">
          <span class="note-container ellipsis summary-item-detail">
            <time>{{ (tx.ts || tx.createdOn ) * 1000 | amDateFormat:'MM/DD/YYYY hh:mm a'}}</time>
          </span>
        </ion-note>
      </ion-item>

      <div class="line-divider" *ngIf="tx && tx.message"></div>

      <ion-item *ngIf="tx && tx.message">
        <ion-label>
          <div class="summary-item">
            <span translate>Memo</span>
          </div>
        </ion-label>
        <ion-note slot="end">
          <span class="note-container ellipsis summary-item-detail">
            {{tx.message}}
          </span>
        </ion-note>
      </ion-item>

      <div class="line-divider" *ngIf="tx && tx.paypro"></div>

      <div *ngIf="tx && tx.paypro">
        <ion-item-divider>{{'Payment request' | translate}}</ion-item-divider>
        <ion-item *ngIf="paymentExpired">
          <ion-label>
            {{'Expired'|translate}}
          </ion-label>
          <ion-note color="danger" slot="end">
            <time>{{converDate(tx.paypro.expires) | amTimeAgo }}</time>
          </ion-note>
        </ion-item>
        <ion-item *ngIf="!paymentExpired">
          <ion-label>
            {{'Expires'|translate}}
          </ion-label>
          <ion-note slot="end">
            <time>{{expires}}</time>
          </ion-note>
        </ion-item>
        <ion-item *ngIf="tx.paypro.memo">
          <span translate>Merchant Message</span>
          <div class="item-memo ion-text-wrap" *ngIf="tx.paypro.memo">
            <ion-note>{{tx.paypro.memo}}</ion-note>
          </div>
        </ion-item>
      </div>

      <div class="line-divider" *ngIf="actionList && actionList[0]"></div>

      <div *ngIf="actionList && actionList[0]">
        <ion-item>
          <div style="width: 100%;">
            <span>{{'Timeline' | translate}}</span>
            <div class="timeline-item" [ngClass]="{'action-created' : a.type == 'created' || a.type == 'accept', 'action-rejected' : a.type == 'reject' || a.type == 'failed'}" *ngFor="let a of actionList; let i = index">
              <div class="timeline-content">
                <div class="timeline-content-icon">
                  <div class="rejected" *ngIf="a.type === 'reject' || a.type == 'failed'">!</div>
                  <div class="line" *ngIf="a.type !== 'reject' && a.type !== 'failed'">{{actionList.length - i}}</div>
                </div>
                <div class="timeline-content-label">
                  <div class="action ellipsis">{{a.description}}</div>
                  <div *ngIf="tx.coin !== 'eth'" class="name ellipsis">{{a.by}}</div>
                </div>
                <ion-note class="ellipsis">
                  <time>{{ converDate(a.time * 1000) | amTimeAgo}}</time>
                </ion-note>
              </div>
            </div>
          </div>
        </ion-item>
      </div>

      <div class="ion-padding proposal-deletion"
        *ngIf="(((tx && !tx.removed) && (tx && tx.canBeRemoved)) || (tx && tx.status == 'accepted' && !tx.broadcastedOn)) && (!isShared || !tx.multisigContractAddress)">
        <div class="proposal-deletion-help" *ngIf="isShared" translate>
          * A payment proposal can be deleted if 1) you are the creator, and no other copayer has signed, or 2) 10
          minutes have passed since the proposal was created.
        </div>
        <ion-button  fill="clear" color="danger" (click)="remove()" [disabled]="loading">
          {{'Delete Payment Proposal' | translate}}
        </ion-button>
      </div>

    </ion-list>
  </div>

  <div footer-content>
    <page-slide-to-accept #slideButton
      *ngIf="(tx && !tx.removed) && (tx && tx.pendingForUs && canSign && !paymentExpired) && isCordova && !(isShared && tx.coin === 'eth')"
      [buttonText]="buttonText" [isDogecoin]="tx && tx.coin == 'doge'" (slideDone)="onConfirm()">
    </page-slide-to-accept>
    <ion-toolbar
      *ngIf="(tx && !tx.removed) && (tx && tx.pendingForUs && canSign && !paymentExpired) && (!isCordova || isShared && tx.coin === 'eth')">
      <ion-button expand="full" class="button-footer" (click)="onConfirm()">{{buttonText}}</ion-button>
    </ion-toolbar>
  </div>
</wide-header-page>