<ion-item>
  <ion-label>
    <div class="summary-item">
      <span translate>Sending to</span>
    </div>
  </ion-label>
  <ion-note slot="end">
    <div *ngIf="tx.misunderstoodOutputs" class="summary-item-detail">
      <span translate>Multiple recipients</span>
    </div>
    <div class="payment-proposal-to" *ngIf="!tx.hasMultiplesOutputs && !tx.misunderstoodOutputs">
      <div class="background-content" copy-to-clipboard="{{ tx.outputs[0].addressToShow ? tx.outputs[0].addressToShow : tx.outputs[0].address }}">
        <img *ngIf="!tx.hasMultiplesOutputs && tx.customData?.service == 'debitcard'" src="assets/img/icon-card.svg" class="debit-card">
        <img class="coin-img" src="assets/img/currencies/{{tx.coin}}.svg" [ngClass]="{'testnet': tx.network === 'testnet'}" alt="Coin" />

        <span *ngIf="!tx.outputs[0].contactName">{{ tx.customData?.toWalletName || ((tx.outputs[0].addressToShow ? tx.outputs[0].addressToShow : tx.outputs[0].address) | shortenedAddress)}}</span>
        <span class="ellipsis" *ngIf="tx.outputs[0].contactName">{{ tx.outputs[0].contactName }}</span>
      </div>
    </div>

    <ion-row class="ion-align-items-center wallet" *ngIf="tx.hasMultiplesOutputs && !tx.misunderstoodOutputs" (click)="showMultiplesOutputs = !showMultiplesOutputs">
      <ion-col>
        <ion-icon class="coin-img" src="assets/img/icon-{{tx.coin}}-small.svg" alt="Coin" slot="start">
        </ion-icon>
      </ion-col>
      <ion-col>
        <span class="note-container ellipsis" translate>Multiple recipients </span>
      </ion-col>
      <ion-col>
        <span>({{tx.recipientCount}}):</span>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" color="grey" icon-only slot="end">
          <ion-icon *ngIf="showMultiplesOutputs" name="chevron-up"></ion-icon>
          <ion-icon *ngIf="!showMultiplesOutputs" name="chevron-down"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-note>

</ion-item>

<div *ngIf="tx.hasMultiplesOutputs && showMultiplesOutputs">
  <ion-item *ngFor="let output of tx.outputs" copy-to-clipboard="{{output.toAddress ? output.toAddress : output.address}}">
    <ion-note class="secondary-note ion-text-end" slot="end">
      <span>{{output.contactName || output.addressToShow || output.toAddress || output.address}}</span>
      <span>{{output.amountStr}}
        <span *ngIf="output.alternativeAmountStr">({{output.alternativeAmountStr}})</span>
      </span>
      <p class="output-note" *ngIf="output.message">
        <span class="ellipsis">{{output.message}}</span>
      </p>
    </ion-note>
  </ion-item>
</div>

<ion-item *ngIf="tx.misunderstoodOutputs">
<div>
    <a class="misunderstood-msg" (click)="viewOnBlockchain()">
      {{misunderstoodOutputsMsg}}
    </a>
</div>
</ion-item>
