<action-sheet>
  <div class="encrypt-password" *ngIf="!showForm">
    <div class="encrypt-password-info">
      <div class="img-container">
        <img src="assets/img/icon-encrypt.svg" />
      </div>
      <div class="info">
        <h3 class="title" translate>Add Encryption?</h3>
        <div class="text" translate>
          An encrypted passphrase is an extra layer of security that can prevent hackers from accessing your cryptocurrency if this device were ever stolen or compromised by malicious software.
        </div>
      </div>
    </div>
    <div class="footer">
      <ion-button class="button-standard ion-no-margin-bottom" (click)="showForm = !showForm">
        {{'Yes' | translate}}
      </ion-button>
      <ion-button fill="clear" color="primary" class="button-standard" (click)="showInfoSheet()">
        {{'No' | translate}}
      </ion-button>
    </div>
  </div>

  <div class="encrypt-password" *ngIf="showForm">
    <div class="encrypt-password-form">
      <div class="slide-title">
        {{'Add Encryption' | translate}}
      </div>
      <form [formGroup]="encryptPasswordForm">
        <ion-item class="ion-no-margin">
          <ion-label position="floating">{{'Passphrase' | translate}}</ion-label>
          <ion-input [type]="passwordInputType" formControlName="password"></ion-input>
          <ion-button fill="clear" slot="end" (click)="passwordInputType = (passwordInputType === 'password') ? 'text' : 'password'">
            <ion-icon [name]="(passwordInputType == 'password') ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item class="ion-no-margin">
          <ion-label position="floating">{{'Confirm Passphrase' | translate}}</ion-label>
          <ion-input [type]="confirmPasswordInputType" formControlName="confirmPassword"></ion-input>
          <ion-button fill="clear" slot="end" (click)="confirmPasswordInputType = (confirmPasswordInputType === 'password') ? 'text' : 'password'">
            <ion-icon *ngIf="encryptPasswordForm.controls.confirmPassword.touched && encryptPasswordForm.hasError('mismatchedPasswords') && encryptPasswordForm.controls.password.valid" name="alert"></ion-icon>
            <ion-icon [name]="(confirmPasswordInputType == 'password') ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item class="ion-no-margin" *ngIf="encryptPasswordForm.controls.confirmPassword.touched && encryptPasswordForm.hasError('mismatchedPasswords') && encryptPasswordForm.controls.password.valid" lines="none">
          <ion-text color="danger" translate>Passphrases do not match</ion-text>
        </ion-item>
      </form>
      <label-tip type="info" header="no-header">
        <div label-tip-body>
          {{'Enter an alphanumeric passphrase to encrypt your wallet' | translate }}
          <span *ngIf="!isCopay"> {{'For best security this should not match your AbcPay ID password.' | translate }}</span>
        </div>
      </label-tip>
    </div>
    <div class="footer">
      <ion-button  type="submit" class="button-standard ion-no-margin-bottom" [disabled]="!encryptPasswordForm.valid" (click)="confirm(encryptPasswordForm.value.password)">
        {{'Continue' | translate}}
      </ion-button>
      <ion-button fill="clear" color="primary" class="button-standard" (click)="showInfoSheet()">
        {{'Never mind' | translate}}
      </ion-button>
    </div>
  </div>
</action-sheet>