<ion-header class="ion-no-border">
  <ion-toolbar hideBackButton transparent></ion-toolbar>
</ion-header>

<ion-content forceOverflow="false">
  <div class="lock-method" *ngIf="biometricMethod == 'faceId' && !pinMethodSelected">
    <div class="lock-method-info">
      <div class="img-container">
        <img src="assets/img/onboarding/faceId.svg" />
      </div>
      <div class="info">
        <h3 class="title" translate>Use facial recognition to unlock?</h3>
        <div class="text" translate>Unlock AbcPay faster by setting up facial recognition.</div>
      </div>
    </div>
  </div>
  <div class="lock-method" *ngIf="biometricMethod == 'fingerprint' && !pinMethodSelected">
    <div class="lock-method-info">
      <div class="img-container">
        <img src="assets/img/onboarding/touchId.svg" />
      </div>
      <div class="info">
        <h3 class="title" translate>Use fingerprint authentication to unlock?</h3>
        <div class="text" translate>Unlock AbcPay faster by setting up fingerprint authentication.</div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="biometricMethod && !pinMethodSelected">
  <ion-toolbar>
    <ion-button class="button-standard ion-no-margin-bottom" (click)="verifyBiometricLockMethod()">
      {{'Continue' | translate}}
    </ion-button>
    <ion-button fill='clear' color="primary" class="button-standard" (click)="showInfoSheet('pincode-info')">
      {{'No thanks' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>