<wide-header-page title="{{'Coin Selector' | translate}}">
  <ion-buttons slot="start">
    <ion-button class="close-container disable-hover" (click)="selectedCoin()">
      <ion-icon color="dark" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div page-content>
    <div class="description" *ngIf="description">{{ description }}</div>
    <ion-list class="settings-list bp-list">
      <div *ngFor="let coin of availableChains">
        <ion-item button class="list-button" (click)="selectedCoin(coin)">
          <ion-icon slot="end" src="assets/img/currencies/{{coin}}.svg">
          </ion-icon>
          <div class="item-title">{{ getCoinName(coin) }} ({{ coin.toUpperCase() }})</div>
        </ion-item>
      </div>
    </ion-list>
  </div>
</wide-header-page>