
 ::ng-deep{
  .disclaimer-wrapper {
    padding-bottom: 210px;
  }
  .checkbox-list {
    padding: 30px 15px 15px 15px;
    &-terms {
      padding: 0 15px;
    }
    .term-container {
      border-radius: 11px;
      background-color: #f9f9f9;
      padding: 20px 32px 20px 0;
      margin-top: 15px;
      ion-item.custom-checkbox{
        background: none;
        justify-self: center;
        align-self: start;
        --background: transparent;
        ion-checkbox {
          align-self: flex-start;
       
        }
      }
      ion-checkbox{
        --border-radius: 50%;
        --size : 30px;
        --background-checked: var(--color-success);
        --border-color-checked: var(--color-success);
      }
      .term {
        justify-self: start;
        text-align: start;
        &-title {
          align-self: center;
          color: #000000;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 25px;
          @media (max-width: 350px) {
            font-size: 12px;
            line-height: 15px;
          }
        }
        &-note {
          grid-column-start: 2;
          font-size: 16px;
          color: var(--color-light-grey);
          font-weight: 300;
          line-height: 25px;
          padding-top: 12px;
          @media (max-width: 350px) {
            font-size: 10px;
            line-height: 15px;
          }
        }
      }
    }
    .term-container.bg-none {
      background-color: transparent;
      padding: 0;
      margin: 0;
      ion-item {
        align-self: center;
      }
      .term-note {
        color: #000000;
        font-weight: normal;
      }
    }
   
  }
  ion-footer {
    &.footer-md::before {
      background-image: none;
    }
  }
  .disclaimer-footer {
    padding-top: 25px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 -15px 22px -10px rgba(67, 77, 90, 0.16);
    background-color: #ffffff;
  }
 }
 
