<wide-header-page title="{{'Join Shared Wallet' | translate}}">
  <ion-buttons slot="end">
    <ion-button fill="clear" wide-header-bar-button (click)="setOptsAndJoin()" [disabled]="!joinForm.valid">
      <span translate>Join</span>
    </ion-button>
  </ion-buttons>
  <div page-content>
    <!-- <ion-item button class="linked-wallet" *ngIf="coin === 'eth'" (click)="showPairedWalletSelector()" detail="false">
      <ion-label>
        <div class="summary-item">
          <span translate>Linked to</span>
        </div>
      </ion-label>

      <ion-note slot="end">
        <ion-row class="wallet ion-align-items-center" *ngIf="pairedWallet">
          <ion-col>
            <coin-icon [coin]="pairedWallet.coin" [network]="pairedWallet.network"></coin-icon>
          </ion-col>

          <ion-col>
            <span class="note-container ellipsis">{{pairedWallet.name}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="wallet ion-align-items-center" *ngIf="!pairedWallet">
          <div class="last-item" slot="end">
            <ion-button fill="clear" color="grey" >
              <ion-icon slot="icon-only" *ngIf="!isOpenSelector" name="chevron-down"></ion-icon>
              <ion-icon slot="icon-only" *ngIf="isOpenSelector" name="chevron-up"></ion-icon>
            </ion-button>
          </div>
        </ion-row>
      </ion-note>
    </ion-item> -->

    <form [formGroup]="joinForm">
      <!-- *ngIf="coin !== 'eth'" -->
      <ion-item >
        <ion-label position="floating">{{'Your name' | translate}}</ion-label>
        <ion-input type="text" formControlName="myName"></ion-input>
      </ion-item>
      <!-- *ngIf="coin === 'eth'" -->
      <ion-item >
        <ion-label position="floating">{{'Wallet name' | translate}}</ion-label>
        <ion-input type="text" formControlName="walletName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{'Wallet invitation' | translate}}</ion-label>
        <ion-input type="text" formControlName="invitationCode" (ionChange)="processInvitation(joinForm.value.invitationCode)"></ion-input>

        <!-- *ngIf="coin !== 'eth'" -->
        <ion-icon *ngIf="joinForm.controls['invitationCode'].status == 'VALID'" name="checkmark-circle" class="check success" slot="end"></ion-icon>

        <ion-icon *ngIf="isCordova" class="scanner-icon" name="scan" slot="end" (click)="openScanner()"></ion-icon>
      </ion-item>
      <!-- *ngIf="coin !== 'eth'" -->
      <ion-button  class="button-standard button-secondary" (click)="showAdvOpts = !showAdvOpts">
        <span *ngIf="!showAdvOpts">{{'Show advanced options' | translate}}</span>
        <span *ngIf="showAdvOpts">{{'Hide advanced options' | translate}}</span>
      </ion-button>

      <div *ngIf="showAdvOpts" class="ion-padding-bottom">
        <!-- *ngIf="coin !== 'eth'" -->
        <ion-item >
          <ion-label position="floating">Wallet Service URL</ion-label>
          <ion-input type="text" formControlName="bwsURL"></ion-input>
        </ion-item>

        <ion-item *ngIf="!keyId">
          <ion-label position="stacked">{{'Wallet key' | translate}}</ion-label>
          <ion-select okText="{{okText}}" cancelText="{{cancelText}}" formControlName="selectedSeed" (ionChange)="seedOptionsChange(joinForm.value.selectedSeed)">
            <ion-option *ngFor="let opt of seedOptions" [value]="opt.id">{{opt.label}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="joinForm.value.selectedSeed == 'set' && !keyId">
          <ion-label position="stacked">{{'Wallet recovery phrase' | translate}}</ion-label>
          <ion-input type="text" formControlName="recoveryPhrase"></ion-input>
        </ion-item>

        <ion-item *ngIf="joinForm.value.selectedSeed == 'set' && !keyId">
          <ion-label position="stacked">{{'Derivation path' | translate}}</ion-label>
          <ion-input type="text" formControlName="derivationPath"></ion-input>
        </ion-item>
      </div>
    </form>
  </div>
</wide-header-page>